@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
}

.card {
    position: relative;
    width: 320px;
    height: 480px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 6px 25px #b19d56;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #b19d56;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    content: "OMNI";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-weight: 600;
    font-size: 6em;
    color: #b19d561f;
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

#omni-king {
    width: 110%;
    height: auto;
    transition: .3s ease;
}

.card:hover #omni-king {
    transform: scale(1.1);
}

.card .contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h1 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #d52a0b;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    font-weight: bold;
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.mouse {
    height: 300px;
    width: auto;
}

/* END OMNI KING PRODUCT CARD */

.container {
    position: relative;
    margin: 10%;
}

.container .card2 {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b19d56;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card2:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card2:after {
    content: "OMNI";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    font-weight: 800;
    font-style: italic;
    color: #b19d561f;

}

.container .card2 .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card2:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container .card2 .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 115%;
}

.container .card2 .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card2:hover .contentBx {
    height: 250px;
}

.container .card2 .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card2 .contentBx .size,
.container .card2 .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card2:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card2:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card2 .contentBx .size h3,
.container .card2 .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card2 .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card2 .contentBx .size span:hover {
    /* other bug */
    background: #d52a0b;
}

.container .card2 .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card2 .contentBx .color span:nth-child(2) {
    background: #1BBFE9;
}

.container .card2 .contentBx .color span:nth-child(3) {
    background: #1B2FE9;
}

.container .card2 .contentBx .color span:nth-child(4) {
    background: #080481;
}

.container .card2 .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #d52a0b;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card2:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}